.aboutsection{
    background-color:black;
    padding:  0;
    text-align: center;
    color: white;
 
}
.aboutMeContainer{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}
.aboutMeHeader{
    font-size: 2rem;
    /* color: #444; */
    margin-bottom: 20px;
    font-weight: 600;

}
.about-content{
    margin-bottom: 30px;
}
@media screen and (max-width: 768px){
    .aboutMeContainer{
        width: 95%;
    }
    .aboutMeHeader{
        font-size: 1.5rem;
    }
    .about-content{
        font-size: 80%;
    }
    
}

/* -----------------------timeline css------------------------------------------------- */

